{% extends "certificat/base.html" %}

{% block headline %}Account Activation{% endblock %}

{% block body %}

<c-layouts.base>
    <c-message type="info">
        Your account hasn't been activated, use the register action provided by your ACME client to continue. After you've activated your account, refresh the page to view more options.
    </c-message>
    
    <dl class="field-list mt-4 mb-3">
        <dt>External Account ID</dt>
        <dd class="monospaced">{{ binding.hmac_id }}</dd>
        <dt>External Account Key</dt>
        <dd class="monospaced">{{ binding.hmac_key }}</dd>
    </dl>

    <c-tabs bordered>
        <c-tab group="clients" id="certbot" label="Certbot" default>
            <div class="my-3"><a href="https://eff-certbot.readthedocs.io/">Read the docs ➚</a></div>
            <pre><code data-trim class='language-bash'>sudo certbot register \
    --server="{{ url_root.scheme }}://{{ url_root.netloc }}{% url 'directory' %}" \
    --eab-kid="{{ binding.hmac_id }}" \
    --eab-hmac-key="{{ binding.hmac_key }}" \
    --email="{{ request.user.email }}"</code></pre>
        </c-tab>
        <c-tab group="clients" id="posh" label="Posh-ACME">
            <div class="my-3"><a href="https://github.com/rmbolger/Posh-ACME">How to install the client</a></div>
            <pre><code data-trim class='language-bash'>Set-PAServer "{{ url_root.scheme }}://{{ url_root.netloc }}{% url 'directory' %}"

New-PAAccount -ExtAcctKID "{{ binding.hmac_id }}" `
              -ExtAcctHMACKey "{{ binding.hmac_key }}" `
              -AcceptTOS `
              -WarningAction SilentlyContinue</code></pre>
        </c-tab>
        <c-tab group="clients" id="ps" label="CertifiCat-PS">
            <div class="my-3"><a href="https://github.com/RIT-ITS/CertifiCat-PS">How to install the client</a></div>
            <pre><code data-trim class='language-bash'>Initialize-ACMEEnvironment `
    -ACMEServer "{{ url_root.scheme }}://{{ url_root.netloc }}{% url 'directory' %}" `
    -PAUserID "{{ binding.hmac_id }}" `
    -PAUserKey "{{ binding.hmac_key }}"</code></pre>
        </c-tab>
        <c-tab group="clients" id="lego-cli" label="lego-cli">
            <div class="my-3"><a href="https://go-acme.github.io/lego/">Read the docs ➚</a></div>
            <pre><code data-trim class='language-bash'>lego accounts register \
    --eab \
    --eab.kid="{{ binding.hmac_id }}" \
    --eab.hmac="{{ binding.hmac_key }}" \
    --email="{{ request.user.email }}"</code></pre>
        </c-tab>
    </c-tabs>

    <div class="mt-4">
        <form action="{% url 'account' binding.id %}" method="POST">
            {% csrf_token %}
            <input class="btn btn--primary btn--danger width-auto" type="submit" id="delete-binding-submit" name="delete-binding" value="Delete Binding">
        </form>
    </div>
    <div id="pre-footer-spacer"></div>
</c-layouts.base>

<c-hljs />

{% endblock %}